

* {
	margin: 0;
	padding: 0;
	font-family: 'Open+Sans';
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100px;
	font: inherit;
	display: block;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	display: block;
	background: #ffffff;

}

.row {

	max-width: auto;
	margin: 0 auto;
	background-color: black;
}

affix {
	top: 0;
	width: 100%;
	z-index: 9999!important;
}

.header {
	overflow: hidden;
	color: black;
	padding: 20px 10px;
	background-color: black;
}

.header a {
	float: left;
	color: gray;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 14px;
	border-radius: 4px;
}

.header a.logo {
	float: left;
	font-size: 25px;
	font-weight: bold;
	color: #57C5A0;

}

.header a:hover {
	background-color: #ddd;
	color: black;
}

.header a.active {
	background-color: lightgray;
	color: darkgray;
}

.header-right {
	float: right;
}

@media screen and (max-width: 500px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}
	.header-right {
		float: left;
	}
}
/
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
button {
    background-color:  #d9d9d9;
    color: black;
    padding: 5px px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

/* home page başlangıç */

.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	display: block;
	color: grey;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: lightgray;
	color: black;
}

.active {
	background-color:#717171;
	color: white;
}

.topnav .icon {
	display: none;
	float: right;
}

@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}


.topnav-right {
	float: right;
}

* Slideshow container */ .slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}



/* Number text (1/3 etc) */

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* Caption text */

.text {
	color: black;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;
	left: 40px;
}

.text .btn {
	background-color: #57C5A0;
	border: none;
	color: black;
	padding: 5px 5px;
	text-align: center;
	font-size: 12px;
	margin: 4px 2px;
	transition: 0.3s;
}

.text .btn:hover {
	background-color: #3e8e41;
	color: white;
}

/* The dots/bullets/indicators */

.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: #717171;
}

/* Fading animation */

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
	.text {
		font-size: 11px
	}
}

/*slider ın altı */

.row {
	display: flex;
}

.column {
	width: 70%;
	padding: 20px;
	background: black;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

/* Clearfix (clear floats) */

.row::after {
	content: "";
	clear: both;
	display: table;

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 500px) {
	.column {
		width: 100%;
	}
}

.column .btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms transform: translate(-50%, -50%);
	background-color: rgba(36, 36, 36, 0.80);
	color: white;
	font-size: 10px;
	padding: 10px 25px;
	border: 4px solid black;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.column btn:hover {
	background-color: rgba(36, 36, 36, 0.80);
	color: white;
}

@media only screen and (max-width:800px).col-sm-4 btn {
	padding: 10px;
	font-size: 11px;
}

@media only screen and(max-width:640px).column {
	width: 100%;
}


.col-sm-4 :first-child {
	margin-left: 10px;
}

.col-sm-4 {
	float: center;
	width: 100%;
	text-align: center;
	max-width: 100%;
}

@media only screen and (max-width:800px).col-sm-4 {
	top: -50px;
}

/*.col-sm-4 img {
	width: 100%;
	max-width: 200%;

} */

.col-sm-4 img:hover {
	background-color: antiquewhite;
}

/* ----------------------shoes tiles---------------- */

.container-top_main {
	background:lightgray;
	width: 100%;
	text-align: center;

}

.container-top_main h2 {
	left: auto;
	margin: 10px;
	color: black;
	background: lightgray;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}


.container-top_main .row {
	display: flex;
	background:lightgray;
	width: 
}

@media screen and (max-width: 500px) {
	.col-sm-3 {
		width: 100%;
	}
}

. col-sm-3 {
	width: 19.5%;
    padding-left: 0;
	padding-right: 0;
	flex: 33.33%;
	float: center;
}

. col-sm-3 h3 {
	
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 5px;
    text-align: center;
	
}

.col-sm-3 img {
	width: 100%;
	max-width: 200%;
	padding: 3px;
	vertical-align: top;

}

.btn {
	background-color: #57C5A0;
	border: none;
	color: white;
	padding: 1px 1px;
	text-align: right;
	font-size: 16px;
	margin: 4px 2px;
	opacity: 1;
	transition: 0.3s;
	

}
.btn:hover {
	opacity: 0.6
}

.container-top_main .btn1 {
	background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.container-top_main .btn1:hover{
	background-color: burlywood;
	color: white
}


.btn3 {
	background-color: #F27E4B;
	border: none;
	color: white;
	padding: 1px 1px;
	text-align: right;
	font-size: 16px;
	margin: 4px 2px;
	opacity: 1;
	transition: 0.3s;

}
/*-------testimonials----*/

.container-text {
  
    width: 100%;
	text-align: center;
     background:darkgray;
	color: black;
	
}
.container-text .row-text {
	display: flex;
	background: lightgray;
	
}
/* Clear floats after the columns */
.row-text:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-sm-4 {
        width: 100%;
    }
}
.row-text .col-sm-4 {
	 background:darkgray;
}

.row-text .col-sm-4 h2 {
	left: auto;
	margin: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
	 background:darkgray;
}




@media screen and (max-width: 500px) {
	.col-sm-3 {
		width: 100%;
	}
}

. col-sm-4 {
	width: 19.5%;
    padding-left: 0;
	padding-right: 0;
	flex: 33.33%;
	float: center;
	color: black;
	
}
.row-text .col-sm-4 p {
	color: black;
}
.grid_date{
	 background:darkgray;
}
.grid_date .date1 h3 {
	font-size: 0.8em;
	margin-top: 4px;
	padding-left: 0;
	padding-right: 0;
	color: #128465;
	}




.date1 {
	float: left;
	width: 12%;
	color: black;
}


.grid_date .date_text h4 {
	float: left;
	width: 85%;
	margin-left: auto;
	 background:darkgray;
	
	
}

.grid_date .date_text a:active {
	font-size: 1em;
	-webkit-text-stroke: 0.4px;
	margin-bottom: 2%;
	transition: all 0.3s;
	 background:darkgray;

}
/*---------top footer--------*/

.footer_top {
	background: #242424;
	
	
}

.row-text1 {
	display:block;
}

.col-sm-3{
	width: 19.5%;
    padding-left: 0;
	padding-right: 0;
	flex: 33.33%;
	float: center;
	padding-left: 0;
	padding-right: 0;
}

@media only screen and(max-width:800px) .col-sm-3 {
	float: none;
	width: 100%;
	margin-left:0;
}

@media only screen and(max-width:800px) .col-sm-3 h3 {
	margin: 20px 0;
}

.col-sm-3 h3 {
	font-size: 1.2em;
	color: #5e5e5e;
	-webkit-text-stroke: 0.5px;
	
	
}

.col-sm-3 p {
	font-size: 0.8em;
	color: #9B9B9B;
	line-height: 1.8em;
	-webkit-text-stroke: 0.5px;
	font-style: italic;
	
}

.col-sm-3 p a {
	color: #57C5A0;
	transition: all 0.3s;
	
}

.col-sm-3 p.top {
	margin-top:0;
	
}

.row-sm .col-sm-2 f_nav  {
	list-style: none;
	display: block;
}
.col-sm-2 f_nav {
	float: left;
	width: 30%;
	margin: 0 14px 10px 0;
	
}

.col-sm-2 f_nav  a {
	display: block;
	transition: all 0.3s;
}

.col-sm-2 f_nav  a img {
	width: 100%;
}

.panel {
	background-color: #000 !important;
	border: none !important;
}
.panel-heading, .panel-body{
	text-align: left;
	background: black;
}
.panel-heading {
	color: gray;
}
.panel-body {
	color: white;
}

.flickr-body {
	display: flex;
	flex-wrap: wrap;
	
}
.flickr-item {
	display: inline-block;
	flex-grow: 1;
	margin-bottom: 10px;
}

.soc_icons > div {
	background: #808080;
	color:lightgray;
}
.fa {
  padding: 5px;
  font-size: 15px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


.fa-flickr {
  background: #f40083;
  color: white;
}





